.videos {
  font-family: $montserrat;
  padding-top: 35px;
  padding-right: 37px;
  padding-left: 37px;
  & h3 {
    padding-bottom: 20px;
    text-align: center;
    font-weight: $semibold;
  }
}
.videos__picture {
  width: 100%;
  height: auto;
}
.videos__item {
  & h4 {
    margin-top: 10px;
    font-weight: $bolder;
    font-size: 18px;
  }
  & h5 {
    font-weight: $regular;
    font-size: 16px;
    color: $grey;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .videos {
    padding-top: 25px;

    & h3 {
      text-align: left;
    }
  }
  .videos__picture {
    height: 61%;
  }
}
